@model Produto

<form asp-action="Alterar" method="post">
    <fieldset>
        <legend>Alterar Produto</legend>

        <!--Escondido-->
        <input type="hidden" asp-for="Id" />

        <!--Somente leitura-->
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">ID</label>
            <div class="form-group col-sm-2">
                <input class="form-control" type="text" readonly="" asp-for="Id">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Nome:</label>
            <div class="form-group col-sm-4">
                <input class="form-control" type="text" asp-for="Nome">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Descrição:</label>
            <div class="form-group col-sm-4">
                <input class="form-control" type="text" asp-for="Descricao">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Preço:</label>
            <div class="form-group col-sm-4">
                <input class="form-control" type="text" asp-for="Preco">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Quantidade:</label>
            <div class="form-group col-sm-4">
                <input class="form-control" type="text" asp-for="Quantidade">
            </div>
        </div>

        <input type="submit" class="btn btn-success" value="Salvar" />
    </fieldset>
</form>
