@model Produto

<form asp-action="Alterar" method="post">
    <fieldset>
        <legend>Alterar Produto</legend>

        <!--Escondido-->
        <input type="hidden" asp-for="Id" />

        <!--Somente leitura-->
        <div class="form-group row">
            <label class="col-sm-1 col-form-label" asp-for="Id"></label>
            <div class="form-group col-sm-2">
                <input class="form-control" type="text" readonly="" asp-for="Id">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-1 col-form-label" asp-for="Nome"></label>
            <div class="form-group col-sm-4">
                <input class="form-control" type="text" asp-for="Nome">
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-1 col-form-label" asp-for="Descricao"></label>
            <div class="form-group col-sm-4">
                <input class="form-control" type="text" asp-for="Descricao">
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-1 col-form-label" asp-for="Preco"></label>
            <div class="form-group col-sm-4">
                <input class="form-control" type="text" asp-for="Preco">
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Quantidade:</label>
            <div class="form-group col-sm-4">
                <input class="form-control" type="text" asp-for="Quantidade">
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
        </div>

        <input type="submit" class="btn btn-success" value="Salvar" />
    </fieldset>
</form>
