<h3>Cadastrar</h3>

<form asp-action="Cadastrar" method="post" class="col-md-5">


    <div class="form-group">
        <label class="col-form-label" for="nome">Nome</label>
        <input type="text" class="form-control" placeholder="Nome" id="nome" name="txtNome">
    </div>

    <div class="form-group">
        <label class="col-form-label" for="descricao">Descrição</label>
        <input type="text" class="form-control" placeholder="Descrição" id="descricao" name="txtDescricao">
    </div>
    
    <div class="form-group">
        <label class="col-form-label" for="preco">Descrição</label>
        <input type="text" class="form-control" placeholder="Preço" id="preco" name="txtPreco">
    </div> 
    
    <div class="form-group">
        <label class="col-form-label" for="quantidade">Quantidade</label>
        <input type="text" class="form-control" placeholder="Quantidade" id="quantidade" name="txtQuantidade">
    </div>
    <input type="submit" class="form-control btn btn-success" />
</form>
